.display-data {
  font-weight: bold;
}
#map {
   width: 100%;
  height: 500px;
}
@media (max-width: 576px) {
  .display-data {
    padding-top: 1rem;
  }
  #map {
    width: 100%;
    height: 300px;
  }
}