{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}

{% block head %}
  <link href="{% sass_src 'disdrometer/scss/disdrometer.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
  <h1 class="text-center"> - Observations du disdromètre - </h1>
  <hr class="my-4">
  <p>Le disdromètre permet de faire la distinction entre la pluie et la neige. Une équipe de recherche sous la
    direction de la Professeure Julie Thériault développe des méthodes diagnostiques pour distinguer les différentes
    types de précipitation : la bruine, la pluie, la neige mouillée, la neige, le grésil, la pluie verglaçante et la
    grêle.</p>
  <hr class="my-4">
  <p class="lead text-center"> (Évolution aux 10 minutes pour la journée du: {% now "j/m/Y" %})</p>
  <div id="graphdiv" class="graph"></div>
  <div id="graphdiv2" class="graph"></div>
  <hr class="my-4">
  <img src="http://resources.station.escer.uqam.ca/images/parsivel.png" alt="Station UQAM">
  <p><b>Réalisation: Guillaume Dueymes</b></p>
{% endblock %}
{% block scripts %}
  <!-- Highchart -->
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/maps/modules/map.js"></script>
  <script src="https://code.highcharts.com/maps/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/offline-exporting.js"></script>
  <script type='text/javascript' src="{% static 'disdrometer/js/disdrometer.js' %}"></script>
{% endblock %}
