{% extends 'base.html' %}
{% load static %}

{% load sass_tags %}

{% block head %}
    <link href="{% sass_src 'home/scss/home.scss' %}" rel="stylesheet" type="text/css"/>
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.5.1/dist/leaflet.css"
          integrity="sha512-xwE/Az9zrjBIphAcBb3F6JVqxf46+CDLwfLMHloNu6KEQCAWi6HcDUbeOfBIptF7tcCzusKFjFw2yuvEpDL9wQ=="
          crossorigin=""/>


{% endblock %}
{% block content %}
    <h1 class="display-4 mb-2 text-center">Station météorologique de l'UQÀM</h1>
    <h3 class="text-center mb-3 font-italic" id="lastUpdateText">Dernière mise-à-jour</h3>
    <div class="container mb-3 pt-3 pb-3 border">
        <h3 class="mb-4">Station UQÀM</h3>
        <div id="stationCurrent" class="row ml-0 mr-0"></div>
    </div>
    <div class="container mb-3 pt-3 pb-3 border">
        <h3 class="d-inline">Environnement Canada  </h3>
        (<a class="font-italic" href="https://meteo.gc.ca/city/pages/qc-147_metric_f.html">source</a>)
        <h6 class="font-italic mt-2 mb-2">Enregistré à Aéroport int. de Montréal-Trudeau</h6>
        <div class="media">
            <img src="{{ MEDIA_URL }}images/0.gif" class="mr-3" alt="conditions météo actuelles"/>
            <div class="media-body">
                <div id="ecCurrent" class="row ml-0 mr-0"></div>
            </div>
        </div>
    </div>
    <div class="container mb-3 pt-3 border">
        <h3 class="d-inline">Prévisions</h3>
        (<a class="font-italic" href="https://meteo.gc.ca/city/pages/qc-147_metric_f.html">source</a>)
        <div class="row mt-4" id="forecast"></div>
    </div>
    <div id="map"></div>

{% endblock %}
{% block scripts %}
    <script src="https://unpkg.com/papaparse@latest/papaparse.min.js"></script>
    <script src="https://unpkg.com/leaflet@1.5.1/dist/leaflet.js"
            integrity="sha512-GffPMF3RvMeYyc1LWMHtK8EbPv0iNZ8/oTtHPx9/cc2ILxQ+u905qIwdpULaqDkyBKgOaB57QTMg7ztg8Jm2Og=="
            crossorigin=""></script>
    <script src="{% static 'home/js/home.js' %}"></script>
{% endblock %}

