{% extends 'base.html' %}
{% load static %}
{% load sass_tags %}
{% load widget_tweaks %}
{% block head %}
    <link href="{% sass_src 'data_form/scss/data_form.scss' %}" rel="stylesheet" type="text/css"/>
{% endblock %}
{% block content %}
    <h1 class="text-center">- Données -</h1>
    <hr class="my-4">
    <ul class="nav nav-tabs mb-4">
        <li class="nav-item">
            <a class="nav-link" href="{% url 'single_date_form' %}">24h</a>
        </li>
        <li class="nav-item">
            <a class="nav-link" href="{% url 'date_range_form' %}">Intervalle de dates</a>
        </li>
        <li class="nav-item">
            <a class="nav-link active" href="{% url 'instant_form' %}">Instantanées</a>
        </li>
    </ul>
    <form action="{% url 'instant_form' %}" method="post">
        {% csrf_token %}
        {{ form }}
        <a class="btn btn-secondary" href="{% url 'instant_form_preselect' %}">Tout sélectionner</a>
        <button class="btn btn-primary" type="submit">Envoyer</button>
    </form>

{% endblock %}
{% block scripts %}
    {{ form.media }}
{% endblock %}
