{% extends 'base.html' %}
{% load static %}
{% load leaflet_tags %}
{% block head %}
  {% leaflet_css plugins="ALL" %}
{% endblock %}
{% block content %}
  <p>Localisation des stations METAR</p>
  {% leaflet_map "map" callback="window.map_init_basic" %}
  <p>Source <a href="http://climate.weather.gc.ca/" target="_blank">Environment Canada</a>
  <p>Guillaume Dueymes // <a href="http://www.escer.uqam.ca/personnel.html" target="_blank">ESCER center</a>
  <p><b>[08 Feb 2018]</b></p>
{% endblock %}
{% block scripts %}

  {% leaflet_js plugins="ALL" %}
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>

  <script src="https://cdn.jsdelivr.net/npm/js-cookie@2/src/js.cookie.min.js"></script>
  <script src="{% static 'metar/js/metar.js' %}"></script>
{% endblock %}