{% extends 'base.html' %}
{% load static %}
{% block content %}
  <div class="row">
    <div class="col text-center">
      <h1> - Météogrammes des dernières 24 heures - </h1>
      <p class="lead">(Dernière mise à jour: {% now  "j/m/Y à H" %}h - UTC)</p>
    </div>
  </div>
  <div id="graphdiv" class="graph"></div>
  <div id="graphdiv2" class="graph"></div>
  <div id="graphdiv3" class="graph"></div>
  <div id="graphdiv4" class="graph"></div>
{% endblock %}
{% block scripts %}
  <script src="https://code.highcharts.com/highcharts.js"></script>
  <script src="https://code.highcharts.com/highcharts-more.js"></script>
  <script src="https://code.highcharts.com/modules/data.js"></script>
  <script src="https://code.highcharts.com/modules/exporting.js"></script>
  <script src="https://code.highcharts.com/modules/windbarb.js"></script>
  <script src="{% static 'meteograms/js/daily_meteograms.js' %}"></script>
{% endblock %}

