html {
  height: 100%;
}
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif;
  display: flex;
  flex-direction: column;
}

main {
  margin-top: 2rem;
  margin-bottom: 2rem;
}

.graph {
  margin-bottom: 2rem;
}

