$navbar-dark-color: darken(white, 3%);
$dropdown-color: darken(white, 3%);
$dropdown-background-color: #176087;
$navbar-background-color: #176087;
$dropdown-link-hover-bg: darken($dropdown-background-color, 5%);
$h5-custom-height: 2rem;