server {
    server_name station.escer.uqam.test www.station.escer.uqam.test;
    location / {
        proxy_pass http://172.20.0.7;
    }

    location /media/ {
        alias /home/xavier/PycharmProjects/uqam_station_website/resources/;
    }

    location /static/ {
        alias /home/xavier/PycharmProjects/uqam_station_website/staticfiles/;
    }
}