server {
    server_name station.escer.uqam.ca www.station.escer.uqam.ca;
    location / {
        proxy_pass http://172.18.0.7;
    }

    location /media/ {
        alias /var/www/html/station.escer.uqam.ca/resources/;
    }

    location /static/ {
        alias /var/www/html/station.escer.uqam.ca/uqam_station_website/staticfiles/;
    }
}